[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

gunicorn = "*"
SQLAlchemy = "*"
Shapely = "*"
PyYAML = "*"
argparse = "*"
pyhcl = "*"
"psycopg2" = "*"
tilestache = "*"
toml = "*"

[dev-packages]

