[Unit]
Description=Tilestache map tile cache

[Install]
WantedBy=multi-user.target

[Service]
User=ubuntu
ExecStart=/usr/local/bin/gunicorn -w 2 -b 127.0.0.1:8080 "TileStache:WSGITileServer('/home/vagrant/buildmap/output/tilestache.json')"
Restart=always
RestartSec=3
