map.addLayers([
{% for name in layers %}
{% if loop.index > 1 %},{% endif %}
new OpenLayers.Layer.TileCache(
                '{{name}}',
                {{config.urls}},
                '{{name}}',
                {
                    singleTile:false,
                    resolutions: [{{config.resolutions|join(',')}}],
                    serverResolutions: [{{config.resolutions|join(',')}}],
                    maxExtent: new OpenLayers.Bounds({{config.extents|join(',')}}),
                    tileSize: new OpenLayers.Size(256,256),
                    isBaseLayer: false,
                    visibility: true,
                    displayInLayerSwitcher: true
                }
            )
{% endfor %}
])
