[cache]
type=Disk
base={{cache_directory}}

{% for layer_name, mapfile in layers.iteritems() %}
[{{layer_name}}]
type=MapnikLayer
mapfile={{mapfile}}
extension=png
resolutions={{config.resolutions|join(",")}}
bbox={{config.extents|join(",")}}
srs=EPSG:{{config.dest_projection}}
debug=true
metaTile=true
metaSize=8,8
metaBuffer=40
{% endfor %}
