[cache]
type=Disk
base={{cache_directory}}

{% for name, layer in layers.iteritems() %}
[{{name}}]
type=MapServerLayer
layers={{layer.layer_list}}
mapfile=./temp/buildmap.map
debug=off
extension=png
resolutions={{config.resolutions|join(",")}}
srs=EPSG:{{config.dest_projection}}
bbox={{config.extents|join(",")}}
size=1024,1024
{% endfor %}
